.film-data{
    display: flex;


}
.film-revue {
    padding: 10px;
    max-width: 500px;
}
.film-data-extra{

    display: flex;
    flex-direction: column;
}
.film-poster {
    height: 510px;

}
.film-prod {

    display: flex;
    justify-content: space-between;
}
.film-prod-data {
    padding: 20px;
}