.container {
    display: flex;
    max-height: 99vh;
}
.a_side {
    padding:10px 2px 0 10px;
    display: flex;
    flex-direction: column;
    min-width: 25%;
    max-width: 30%;

}
.film-info {

    display: flex;
    width: 100%;
}