.film__search-data {
    background-color: #333333;
    display: flex;
    margin-bottom: 2px;
}
.search-data-logo {
    max-width: 50px;
    max-height: 90px;
}
.film__search-info {
    color: white;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.active {
    background-color: #2d0000;
}
.active::after {
    content: '*';
}